.container {
    position: relative;
    background-color: transparent;

    &__content {
        padding: 5ch;
    }

    &__title {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;

        &__text {
            text-align: center;
            font-weight: bold;
            position: relative;
            padding: 0 1ch;
            top: -1.5ch;
        }
    }
}

.b {
    &l {
        border-right: none !important;
        position: relative;
        flex-grow: 1;
    }

    &c {
        display: flex;
        justify-content: center;
    }

    &r {
        border-left: none !important;
        flex-grow: 1;
    }
}