.container {
    position: relative;
    background-color: transparent;

    &__content {
        padding: 5ch;
    }

    &__title {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;

        &__text {
            text-align: center;
            font-weight: bold;
            position: relative;
            padding: 0 1ch;
            top: -1.5ch;
        }
    }
}

.b {
    &l {
        border: 2px orange solid;
        border-right: none;
        position: relative;
        flex-grow: 1;
        border-radius: 2ch 0 0 2ch;
    }

    &c {
        border-top: 2px transparent solid;
        display: flex;
        justify-content: center;
        border-bottom: 2px orange solid;
    }

    &r {
        border: 2px orange solid;
        border-left: none;
        flex-grow: 1;
        border-radius: 0 2ch 2ch 0;
    }
}